@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Rubik&display=swap");
@font-face {
  font-family: "Gosha Sans";
  src: url("../fonts/GoshaSans-Regular.ttf");
}
html {
  scroll-behavior: smooth;
}

._lock {
  overflow: hidden;
}

.menu__icon {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

[class*=__container] {
  max-width: 1530px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: #161616;
}

[class*=__description] {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #ffffff;
  opacity: 0.5;
}

[class*=__title] {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  color: #ffffff;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px;
  border-bottom: 2px solid #ffffff;
}

.nav__l span {
  padding-left: 12px;
  padding-right: 12px;
  color: #ffffff;
}

.nav__lang {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.nav__lang:hover {
  text-decoration: underline;
}

.rus {
  font-weight: bold;
}

.nav__c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__c:hover .nav__circle {
  background-color: #000000;
}
.nav__c a {
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  padding-left: 29px;
}

@media (max-width: 980px) {
  .nav__r {
    background-color: #161616;
  }
}

.nav__circle {
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border-radius: 50%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1.875rem, 0.718rem + 5.79vw, 6.5rem);
}

.nav__item {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.nav__item:hover {
  text-decoration: underline;
}

.main {
  position: relative;
  padding-top: 210px;
  padding-bottom: 370px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title {
  font-size: 64px;
  line-height: 83px;
  margin-bottom: 25px;
}

.main__description {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  color: #000000;
  opacity: 1;
}

.main__par-1,
.main__par-2 {
  background-color: #eeff30;
  display: inline-block;
}

.main__par-2 {
  margin-left: 145px;
}

.main__deco {
  position: absolute;
  top: -90px;
  left: 100px;
  z-index: -1;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 140px;
  border-bottom: 2px solid #ffffff;
}

.about__title {
  font-family: "Gosha Sans";
  font-size: 96px;
  line-height: 115px;
  margin-right: clamp(3.125rem, -0.594rem + 18.6vw, 20rem);
  white-space: nowrap;
}

.about__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.about__block {
  max-width: 475px;
}

.do {
  padding-top: 50px;
}

.do__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.do__block {
  max-width: 475px;
}

.do__title {
  font-family: "Gosha Sans";
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 16px;
}

.do__description {
  font-size: 16px;
  line-height: 27px;
}

.projects {
  padding-top: 190px;
}

.projects__container {
  position: relative;
}

.projects__deco-1,
.projects__deco-2,
.projects__deco-3 {
  position: absolute;
}

.projects__deco-1 {
  right: 0;
  top: 650px;
  -webkit-box-shadow: 20px 20px #030303;
          box-shadow: 20px 20px #030303;
}

.projects__deco-2 {
  z-index: 2;
  top: 970px;
  left: 225px;
}

.projects__deco-3 {
  top: 400px;
  z-index: 1;
  -webkit-box-shadow: 20px 20px #c62040;
          box-shadow: 20px 20px #c62040;
}

.projects__title {
  font-family: "Gosha Sans";
  font-size: 96px;
  line-height: 115px;
  margin-bottom: 90px;
}

.projects__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 160px;
  margin-left: 520px;
}

.projects__block {
  max-width: 1025px;
  border-bottom: 2px solid #ffffff;
  position: relative;
}

.projects-block__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 22px;
}

.projects-block__title {
  font-size: 48px;
  line-height: 73px;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
.projects-block__title:hover {
  color: #c62040;
}

.projects-block__link {
  padding-bottom: 40px;
}

.projects-block__number {
  position: absolute;
  left: -170px;
}

.contact {
  padding-top: 250px;
  padding-bottom: 280px;
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 250px;
}

.contact__title {
  font-family: "Gosha Sans";
  font-size: 96px;
  line-height: 115px;
  white-space: nowrap;
}

.contact__description {
  font-size: 48px;
  line-height: 81px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.contact__description:hover {
  opacity: 1;
}